<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/uikit/css/uikit.min.css" rel="stylesheet">
    <link href="lib/uikit/css/uikit.almost-flat.min.css" rel="stylesheet">
    <link href="lib/uikit/css/uikit.gradient.min.css" rel="stylesheet">
    <!-- <link href="lib/semantic/semantic.min.css" rel="stylesheet"> -->
    <link href="css/ionic.filter.bar.min.css" rel="stylesheet">
    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="js/ionic.filter.bar.min.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="lib/uikit/js/uikit.min.js"></script>
    <script type="text/javascript" src="lib/uikit/js/components/accordion.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script type="text/javascript" src="js/ng-cordova.min.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
  </head>
  <body ng-app="starter">
    <ion-nav-view>
        <ion-view></ion-view>
    </ion-nav-view>
  </body>
</html>
<script type="text/ng-template" id="index.html">
    <ion-view>
        <ion-tabs class="tabs-icon-top tabs-striped tabs-background-stable tabs-color-positive">
            <ion-tab title="首页" href="#index/search" icon="ion-home">
                <ion-nav-view name="index"></ion-nav-view>
            </ion-tab>
            <ion-tab title="客户中心" href="#index/member" icon="ion-person-stalker">
                <ion-nav-view name="member"></ion-nav-view>
            </ion-tab>
            <ion-tab title="企业介绍" href="#index/about" icon="ion-ios-navigate-outline">
                <ion-nav-view name="about"></ion-nav-view>
            </ion-tab>
            <ion-tab title="在线服务" href="#index/service" icon="ion-radio-waves">
                <ion-nav-view name="service"></ion-nav-view>
            </ion-tab>
        </ion-tabs>
    </ion-view>
</script>
<script type="text/ng-template" id="member.html">
    <ion-view view-title="个人中心">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content>
            <div class="list">
                <a ui-sref="index.member-data" class="item item-icon-left item-icon-right">
                    <i class="icon ion-ios-person item-note"></i>
                    个人信息
                    <i class="icon item-note ion-ios-arrow-right button-small"></i>
                </a>
                <a ui-sref="index.member-produceList" class="item item-icon-left item-icon-right">
                    <i class="icon ion-android-cloud-circle item-note"></i>
                    产品介绍
                    <i class="icon item-note ion-ios-arrow-right button-small"></i>
                </a>
                <a ui-sref="index.member-collect" class="item item-icon-left item-icon-right">
                    <i class="icon ion-ios-bookmarks item-note"></i>
                    个人收藏
                    <span class="badge badge-assertive">{{collectTotals}}</span>
                </a>
                <a href="javascript:void(0)" on-tap="sharePage()" class="item item-icon-left item-icon-right">
                    <i class="icon ion-share item-note"></i>
                    推荐给朋友
                    <i class="icon item-note ion-ios-arrow-right button-small"></i>
                </a>
                <div class="padding">
                    <button ng-click="loginOut()" class="button button-assertive button-block">注销</button>
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>
<script type="text/ng-template" id="member-data.html">
    <ion-view view-title="个人信息">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-content class="has-header">
            <div class="list">
                <div class="item row padding-vertical item-button-right">
                    <div class="col item-note col-20">用户帐号</div>
                    <div class="col">{{person.data.userName}}</div>
                    <!-- <button class="button button-clear" ng-click="editPassword()">
                    <span class="item-note positive">修改密码</span></button> -->
                </div>
                <div class="item row padding-vertical item-button-right">
                    <div class="col item-note col-20">昵 称</div>
                    <div class="col">{{person.data.userAlias || person.data.userName}}</div>
                    <button class="button button-clear" ng-click="editOthername()">
                      <i class="icon ion-ios-compose-outline positive"></i>
                    </button>
                </div>
                <div class="item row padding-vertical item-button-right">
                    <div class="col item-note col-20">所属机构</div>
                    <div class="col">{{person.data.agencyName}}</div>
                    <button class="button button-clear" ng-click="editOrganization()">
                      <i class="icon ion-ios-compose-outline positive"></i>
                    </button>
                </div>
                <div class="item row padding-vertical item-button-right">
                    <div class="col item-note col-20">邮箱</div>
                    <div class="col">{{person.data.email}}</div>
                    <button class="button button-clear" ng-click="editEmail()">
                      <i class="icon ion-ios-compose-outline positive"></i>
                    </button>
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>
<script type="text/ng-template" id="member-produceList.html">
    <ion-view view-title="产品介绍">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-content class="has-header">
            <!-- 产品介绍列表 -->
            <div class="produce-intro padding">
                <p>临床诊疗助手是一款为医生、药师等专业人士度身定做的药学软件，旨在为临床医生、药师、护士及医疗人员提供便捷的药物信息查询工具，并根据临床医生实际工作流程进行优化设计，以满足医务工作者随时随地查询药物说明书信息的需求。临床诊疗助手收录了十几万条药品说明书，数据来自于药品生产厂家、国家药监局、医院等，来源权威可靠且持续更新。软件资料丰富、检索功能强大、简单易用，是临床诊疗中的好助手。</p>
            </div>
        </ion-content>
    </ion-view>
</script>
<script type="text/ng-template" id="member-serviceList.html">
    <ion-view view-title="历史服务单">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-content class="has-header">

        </ion-content>
    </ion-view>
</script>
<script type="text/ng-template" id="member-collect.html">
    <ion-view view-title="个人收藏">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-content class="has-header">
            <!-- 个人收藏 -->
            <ion-list>
                <ion-item ng-repeat="item in collectList" on-tap="showPage('{{item.sourceId}}')">
                    <h2>
                      <span class="uk-badge">
                          {{item.label}}
                      </span>
                      {{item.tradeName ? (item.tradeName+' ') : ''}}{{item.genericName}}
                    </h2>
                    <div class="uk-comment-meta">

                        {{item.spec}} {{item.manufacturerShort}} {{item.brandName}}
                        <span class="uk-navbar-flip">{{item.releaseDate}}</span>

                    </div>
                    <ion-option-button class="button-assertive"
                        on-tap="deleteCollect($index,'{{item.sourceId}}')">
                        取消收藏
                    </ion-option-button>
                </ion-item>
            </ion-list>
            <ion-infinite-scroll ng-if="isLoadCollectMore" on-infinite="collectLoadMore()" distance="2%"></ion-infinite-scroll>
        </ion-content>
    </ion-view>
</script>
<script type="text/ng-template" id="about.html">
    <ion-view view-title="企业介绍">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-content class="company-intro">
            <!-- 公司宣传画册 -->
            <img src="img/ci.jpg"/>
            <p>“医睦”名字源于最简单的想法，就是实现“医药、医保、医疗之间的和睦和谐健康”；从创办公司至今，我们脚踏实地，大胆创新，研发上线了药械标准库、医院药事管理软件和医院医保管理软件，陆续在企事业单位和医疗机构得到应用，为医生、药师和数据工作者节省了大量的时间，同时为患者保驾护航，医院管理软件完成了近 1300万次提醒。</p>
            <p>继往开来，在“互联网+医疗”迅猛发展的时代，我们又陆续在全国各地展开了业务，并将药械标准库和医药知识库有机地结合，为客户提供更多的产品和优质的服务。我们坚信，价值源于专业，智慧来自实践。我们将竭尽所能，为“共建医药、医保、医疗在新形势下的和睦和谐健康”而奋斗。</p>

        </ion-content>
    </ion-view>
</script>
<script type="text/ng-template" id="service.html">
    <ion-view view-title="在线服务">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-clear" ui-sref="index.service-add">
                    <i class="icon ion-ios-plus-empty"></i>
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-content>
            <ul class="list">
                <li class="item item-icon-right" ng-repeat="item in serviceList" ui-sref="index.service-check({id:item.id})">
                  <!--意见反馈-->
                  <div ng-if="item.type == 0">
                    <div class="row">
                        <h2 class="col-75">
                            {{item.title}}
                        </h2>
                        <span class="item-note">{{item.updateDate}}</span>
                    </div>
                    <p class="row" style="padding-top:0;">
                       <span class="col-75 item-content">{{item.needs}}</span>
                       <span>{{item.status}}</span>
                    </p>
                    <i class="icon ion-ios-arrow-right button-small item-note"></i>
                  </div>
                  <!--纠错-->
                  <div ng-if="item.type == 1">
                    <div class="row">
                        <h2 class="col-75">
                            {{item.title}}
                        </h2>
                        <span class="item-note">{{item.updateDate}}</span>
                    </div>
                    <div class="row">
                      <h2 class="col-75">
                          {{item.tradeName ? (item.tradeName+' ') : ''}}{{item.genericName}}
                      </h2>
                    </div>
                    <p class="row" style="padding-top:0;">
                       <span class="col-75 item-content">{{item.spec}} {{item.manufacturerShort}} {{item.brandName}}</span>
                       <span>{{item.status}}</span>
                    </p>
                    <i class="icon ion-ios-arrow-right button-small item-note"></i>
                  </div>
                </li>
            </ul>
            <ion-infinite-scroll ng-if="isScrollServiceList" on-infinite="loadMoreServiceList()" distance="2%"></ion-infinite-scroll>
        </ion-content>
    </ion-view>
</script>
<script type="text/ng-template" id="service-add.html">
    <ion-view view-title="添加在线服务单">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>
        <ion-content>
            <div class="list">
              <div class="item item-divider">
                反馈建议<span class="assertive">(必填)</span>
              </div>
              <label class="item item-input">
                <textarea ng-model="service.content" placeholder="请输入您的反馈建议～" style="height:150px;"></textarea>
              </label>
              <div class="padding">
                <button on-tap="serviceCommit()" class="button button-positive button-block">提交</button>
              </div>
            </div>
        </ion-content>
    </ion-view>
</script>
<script type="text/ng-template" id="service-page.html">
    <ion-view view-title="{{serviceFeedbackPage.title}} {{serviceFeedbackPage.subDate}}">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
        </ion-nav-bar>
        <ion-content>
            <div class="list">
              <label class="item item-input">
                <span class="input-label item-note text-right">提交时间:</span>
                <span class="col">{{serviceFeedbackPage.subDate}}</span>
              </label>
              <label class="item item-input">
                <span class="input-label item-note text-right">受理日期:</span>
                <span class="col">{{serviceFeedbackPage.acceptDate || '暂无'}}</span>
              </label>
              <label class="item item-input">
                <span class="input-label item-note text-right">受理状态:</span>
                <span class="col">{{serviceFeedbackPage.status}}</span>
              </label>
              <label class="item item-input">
                <span class="input-label item-note text-right">反馈建议:</span>
                <span class="col">{{serviceFeedbackPage.needs}}</span>
              </label>
              <label class="item item-input">
                <span class="input-label item-note text-right">服务商回复:</span>
                <span class="col">{{serviceFeedbackPage.reply || '暂无回复，请耐心等候'}}</span>
              </label>
            </div>
        </ion-content>
    </ion-view>
</script>
<script type="text/ng-template" id="member-push.html">

</script>
<script type="text/ng-template" id="page.html">
  <div class="modal">
    <ion-pane>
      <ion-header-bar align-title="left" class="bar-positive">
            <div class="buttons">
                <button class="button button-clear" ng-click="hidePage()">
                    <i class="icon ion-ios-arrow-back"></i>
                </button>
              </div>
              <h1 class="title">{{page.title}}</h1>
              <div class="buttons">
                <button class="button" ng-show="page.isUserHouse == 0" on-tap="addCollect()"><i class="icon ion-ios-heart-outline"></i></button>
                <button class="button" ng-show="page.isUserHouse == 1" on-tap="removeCollect()"><i class="icon ion-ios-heart"></i></button>
                <button class="button" on-tap="showEditPage()"><i class="icon ion-ios-compose-outline"></i></button>
                <button on-tap="sharePage()" class="button"><i class="icon ion-share"></i></button>
              </div>
        </ion-header-bar>
            <ion-content delegate-handle="pagepScroll" id="pagepScroll" class="slider-bar-p" overflow-scroll=true>
                <div class="card" ng-repeat="item in page.sms">
                    <div class="item item-divider">
                       {{item.title}}
                      </div>
                      <div class="item item-text-wrap" ng-bind-html="item.content|htmlContent">
                      </div>
                </div>
            </ion-content>
            <div class="slider-bar">
              <button class="button button-energized button-block" on-tap="showFullPage('{{page.id}}')">查看全版</button>
              <button class="button button-calm icon ion-android-arrow-up button-block" onClick="iconGoTop(this)"></button>
            </div>
  </ion-pane>
</div>
</script>
<!-- search -->
<script type="text/ng-template" id="search.html">
    <ion-view>
        <ion-pane class="index">
            <div class="adv" ng-hide="isHideAdv" data-text="顶部栏">
                <ion-slide-box show-pager=false delegate-handle="adv" does-continue=true auto-play=true>
                    <ion-slide class="bg-positive">
                        <img ng-src="img/tp_1.jpg"/>
                    </ion-slide>
                    <ion-slide>
                        <img ng-src="img/tp_2.jpg"/>
                    </ion-slide>
                    <ion-slide>
                        <img ng-src="img/tp_3.jpg"/>
                    </ion-slide>
                </ion-slide-box>
            </div>
            <div class="logo" style="text-align:center">
                <img width='90' src="img/logo.png"/>
            </div>
            <!-- <div class="list"> -->
                <div class="list padding">
                    <div id="search" data-uk-dropdown="{mode:'click',justify:'#search'}" class="item-input-inset" style="background:none;overflow:visible;padding:0">
                       <!-- <input type="search"  onfocus="javascript:this.blur();" class="uk-width-1-1" placeholder="" /> -->
                            <button on-tap="openSearchModal()" class="button button-small button-block button-light stable"><i class="icon ion-search placeholder-icon">
                            </i>请输入需要搜索的关键字...</button>
                        <!-- </label> -->
                    </div>
                </div>
                <!-- </div> -->
            <div class="list" style="position:absolute;top:{{isHideAdv ? 180 :230}}px;bottom:1px;width:100%;background-color:#fff">
                <!-- <div class="item item-divider">
                    药品说明书
                </div> -->
                <ion-content>
                    <ion-item ng-repeat="item in indexData" on-tap="showPage(item.id)">
                        <h2>
                          <span class="uk-badge">
                              {{item.label}}
                          </span>
                          {{item.tradeName ? (item.tradeName+' ') : ''}}{{item.genericName}}
                        </h2>
                        <div class="uk-comment-meta">
                            {{item.spec}} {{item.manufacturerShort}} {{item.brandName}}
                            <span class="uk-navbar-flip">{{item.releaseDate}}</span>

                        </div>
                    </ion-item>
                    <ion-infinite-scroll
                        ng-if="canLoadMore()"
                        on-infinite="loadMore()"
                        distance="2%">
                    </ion-infinite-scroll>
                </ion-content>
            </div>
        </ion-pane>
    </ion-view>
</script>
