<ion-view>
	<ion-pane class="login">
        <div class="login-logo text-center padding">
            <img width="100" ng-src="img/logo_login.png">
        </div>
        <!-- <div class="padding">
            <button class="button button-energized button-block" ng-click="checkLogin()">登 录</button>
						<button class="button button-energized button-block" ng-click="wechatLogin()">微信登录</button>
        </div> -->
        <!-- <div class="padding text-center"><a class="light" ng-click="wechatLogin()" ui-sref="reg.code">微信登录</a></div> -->
                <div class="padding text-center" style="padding-top:150px;"><a class="light" ui-sref="index.search">直接进入</a></div>
				<div class="padding text-center" ng-show="isInstallWechat"><a class="light button-login-wechat" ng-click="wechatLogin()"><img ng-src="img/login-wechat.png" width="25" style="vertical-align:middle;" /> 使用微信帐号登录</a></div>
	</ion-pane>
</ion-view>
