<div class="modal">
	  <ion-header-bar align-title="left" class="bar-positive">
			<div class="buttons">
			    <button class="button button-clear" ng-click="hidePage()">
			    	<i class="icon ion-ios-arrow-back"></i>
			    </button>
			  </div>
			  <h1 class="title">{{page.title}}</h1>
			  <div class="buttons">
			  	<button class="button" ng-hide="page.isUserHouse" on-tap="addCollect()"><i class="icon ion-ios-heart-outline"></i></button>
			  	<button class="button" ng-show="page.isUserHouse" on-tap="removeCollect()"><i class="icon ion-ios-heart"></i></button>
			    <button on-tap="sharePage()" class="button"><i class="icon ion-share"></i></button>
			  </div>
		</ion-header-bar>
		<ion-content delegate-handle="pagepScroll" id="pagepScroll">
			<div class="card" ng-repeat="item in page.sms">
				<div class="item item-divider">
				   {{item.title}}
				  </div>
				  <div class="item item-text-wrap" ng-bind-html="item.content|htmlContent">
				  </div>
			</div>
			<div class="padding text-center">
				<button class="button button-positive button-small" on-tap="showFullPage()">看全部>></button>
			</div>
		</ion-content>
</div>
