<ion-view view-title="{{id}}">
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button></ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label item-note text-right">标题:</span>
		    <span class="col">药事管理软件改进建议</span>
		  </label>
		  <label class="item item-input">
		    <span class="input-label item-note text-right">提交日期:</span>
		    <span class="col">2013-12-12</span>
		  </label>
		  <label class="item item-input">
		    <span class="input-label item-note text-right">受理日期:</span>
		    <span class="col">2013-12-12</span>
		  </label>
		  <label class="item item-input">
		    <span class="input-label item-note text-right">服务类型:</span>
		    <span class="col">产品/商务</span>
		  </label>
		  <label class="item item-input">
		    <span class="input-label item-note text-right">产品名称:</span>
		    <span class="col">医院药事管理软件临床用药助手</span>
		  </label>
		  <label class="item item-input">
		    <span class="input-label item-note text-right">需求/反馈:</span>
		    <span class="col">客户需求或反馈建议内容正文...药事管理软件改进建议</span>
		  </label>
		  <label class="item item-input">
		    <span class="input-label item-note text-right">服务商回复:</span>
		    <span class="col">服务单苦读反馈内容以及处理方式，如：已电话或邮件联系过客户，确认需求等</span>
		  </label>
		</div>
	</ion-content>
</ion-view>