<ion-view view-title="产品介绍">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header">
        <!-- 产品介绍列表 -->
        <div class="row" style="text-align:center">
            <div class="col">
                <a class="uk-thumbnail" ng-click="openBrower()">
				    <img ng-src="img/ionic.png" width="50%" alt="">
				    <div class="uk-thumbnail-caption">医院药事管理软件</div>
				</a>
            </div>
            <div class="col">
                <a class="uk-thumbnail" href="">
				    <img ng-src="img/ionic.png" width="50%" alt="">
				    <div class="uk-thumbnail-caption">医院医保管理软件</div>
				</a>
            </div>
        </div>
        <div class="row" style="text-align:center">
            <div class="col">
                <a class="uk-thumbnail" href="">
				    <img ng-src="img/ionic.png" width="50%" alt="">
				    <div class="uk-thumbnail-caption">大数据中心</div>
				</a>
            </div>
            <div class="col">
                <a class="uk-thumbnail" href="">
				    <img ng-src="img/ionic.png" width="50%" alt="">
				    <div class="uk-thumbnail-caption">决策分析系统</div>
				</a>
            </div>
        </div>
    </ion-content>
</ion-view>
