/* Empty. Add your own CSS if you like */

body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.index-row-box .button.button-block {
    margin-top: 0;
    margin-bottom: 0;
    min-height: 70px;
    border-radius: 0;
    font-size: .8rem;
    line-height: 1.5;
}
.logo{
	padding: 20px 0 0 0;
}
.row + .row{
	margin-top: 0;
	/*padding-top: 10px;*/
}
a,a:hover,a:active{
	text-decoration: none;
}
/*.item{
	border-width: 0;
}*/
/*.list .item:after{
	position: absolute;
	-webkit-transform:scaleY(0.5);
	bottom:0;
	z-index: 2;
	left: 0;
	right: 0;
	display: block;
	content:' ';
	border:1px solid #d9d9d9;
}*/
.tabs-striped.tabs-background-stable .tabs:before{
	position: absolute;
	-webkit-transform:scaleY(0.5);
	top:0;
	left: 0;
	right: 0;
	display: block;
	content:' ';
	border:1px solid #d9d9d9;
}
.tabs-striped.tabs-color-positive .tab-item.tab-item-active{
	border-color:transparent;
}
.tabs-bottom .tabs{
	border-bottom-width:0;
}
.index{
	background: url(../img/bg.jpg) top center no-repeat;
	background-size: 100% 100%;
}
.col{
	white-space: normal;
}
.login{
	background:url(../img/bg_login.jpg) top center no-repeat;
	background-size:cover;
}
.login-logo{
	padding-top: 80px;
}
.login-form{
	background-color: inherit;
}
.login-form .item{
	background-color: rgba(255,255,255,.3);
	border-radius:100px!important;
	margin:0;

}
.login-form .item + .item{
	margin-top: 15px;
}
.login-form .item input{
	color: #fff;
}
.login-form .item:after{
	border-width:0;
}
.login .button.button-energized{
	border-radius: 100px;
}
.login  .placeholder-icon:first-child{
	padding-right: 20px;
}
.login ::-webkit-input-placeholder{
	color: #fff;
}
.item.item-text-wrap{
	text-align: justify;
}
.share > div{
	line-height: 2;
	font-size: 12px;
}
.share > div > span{
	display: block;
	width: 45px;
	height: 45px;
	margin: 0 auto;
	border-radius: 100%;
	background-size:60% 60%;
}
span.icon-qq{
	background:url(../img/qq.png) center center no-repeat;
}
span.icon-wechat{
	background:url(../img/wechat.png) center center no-repeat;
}
span.icon-qqzone{
	background:url(../img/qqzone.png) center center no-repeat;
}
span.icon-wechat-friends{
	background:url(../img/wechat-friends.png) center center no-repeat;
}
.adv{
	width: 100%;
	background-color: #fff;
}
.adv img{
	display: block;
	width: 100%;
	height: auto;
	max-height: 80px;
}
.company-intro{
  font-size: 20px;
}
.company-intro p{
  text-indent: 2em;
  line-height: 1.5;
  text-align: justify;
  padding: 0 20px;
}
h2 .uk-badge{
  margin-top: -3px;
}
*{
  -webkit-user-select:auto!important;
  -moz-user-select:auto!important;
  user-select:auto!important;
}
.close-input{
  position: absolute;
  right: 10px;
  top: 5px;
  color:#999;
}
.slider-bar{
  position: absolute;
  bottom: 20px;
  display: block;
  left: 5px;
  z-index: 9;
}
.slider-bar button.button-block{
  border-radius: 0;
  width: 50px;
  margin-top: 0;
  margin-bottom: 0;
  min-width: auto;
  min-height: auto;
  font-size: 14px;
  line-height: 1;
  text-shadow: 0 0 2px #666;
  height: 50px;
  padding: 8px;
  opacity: .7;
}
.overflow-scroll .scroll{
  height: auto;
}
.slider-bar button.icon:before{
  line-height: inherit;
}
